@import "vars";
@import "global";
@import "fonts";

/*Start header*/

.header__top-inner {
	display: flex;
	justify-content: space-between;
	height: 91px;
	align-items: center;
}

.header__text {
	margin-left: auto;
	margin-right: 50px;
	span {
		color: $red;
	}
}

.header__btn {
	padding: 4px;
	width: 72px;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}

.header__btn-login {
	background-color: $green;
}
.header__btn-register {
	background-color: $red;
}

.header__menu {
	background-color: $bg;
}
.menu {
	display: flex;
	align-items: center;
	height: 60px;
}

.menu__list {
	li {
		display: inline-block;
		& + li {
			margin-left: 30px;
		}
	}
	a {
		color: #fff;
		font-size: 14px;
	}
}

//end Header

//Start Search

.search {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 530px;
}

.search__inner {
	padding-top: 135px;
	padding-bottom: 100px;
	color: #fff;
	text-align: center;
	&-title {
		margin-bottom: 10px;
		font-size: 48px;
		@include f700;
		line-height: 72px;
	}
	&-text {
		margin-bottom: 50px;
		font-size: 20px;
		@include f500;
		line-height: 30px;
	}
	&-form {
		max-width: 670px;
		margin: 0 auto;
		position: relative;
		input {
			display: block;
			width: 100%;
			box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
			border-radius: 4px;
			height: 56px;
			font-size: 14px;
			@include f500;
			padding-left: 25px;
			padding-right: 60px;
			&::placeholder {
				color: #90a4ae;
				@include f500;
			}
		}
		button {
			background-color: transparent;
			position: absolute;
			border: none;
			right: 20px;
			top: 16px;
		}
	}
}

//start Products

.products {
	padding: 110px 0px;
	background-color: $grey;
}
.products__inner-btn {
	text-align: center;
	margin-bottom: 60px;
	button {
		color: $bg;
		@include f500;
		font-size: 14px;
		padding: 12px 20px;
		border: none;
		background-color: #fff;
		cursor: pointer;
		& + button {
			margin-left: 6px;
		}
		&.mixitup-control-active{
			background-color: $red;
			color: #fff;
		}
	}
}
.product__item {
	max-width: 442px;
	width: 100%;
	box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
	margin-bottom: 30px;
	&-img {
		min-height: 250px;
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	&-content {
		display: flex;
		justify-content: space-between;
		padding: 10px 30px;
		align-items: center;
		min-height: 90px;
		@include f500;
		border-bottom: 1px solid #e7ecf2;
	}
	&-name {
		max-width: 310px;
	}
	&-title {
		color: $bg;
		font-size: 18px;
	}
	&-category {
		display: block;
		font-size: 14px;
		color: $green;
		
	}
	&-price {
		font-size: 20px;
		color: $bg;
		@include f700;
	}
	&-info{
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 70px;
		padding: 10px 30px;

	}
	&-author{
		display: flex;
		align-items: center;
		max-width: 245px;
		span{
			@include f500;
			font-size: 14px;
		}
		.avatar{
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-position: center;
			display: inline-block;
			background-repeat: no-repeat;
			background-size: cover;
			margin-right: 14px;
		}
	}
	&-star{
		span{
		color: $bg;
		}
	}
}

.products__inner-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.products__bottom-btn{
	text-align: center;
	button{
		margin: 45px 5px 0;
		border: none;
		box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
		background-color: #fff;
		color: $bg;
		padding: 20px 30px;
		cursor: pointer;
		&.mixitup-control-active{
			background-color: $red;
			color: #fff;
		}

	}
	
}
//End Products

//start product-slider

.product-slider{
	padding: 120px 0;
	.slick-dots{
		text-align: center;
		margin-top: 50px;
		li{
			display: inline-block;
			margin-left: 3px;
			margin-right: 3px;
			&.slick-active{
				button{
				background-color: $green;
				}
			}
			button{	
				height: 16px;
				width: 16px;
				border-radius: 50%;
				border: none;
				background-color: rgb(232, 232, 232);
				font-size: 0;
				cursor: pointer;
				outline: none;
			}
		}
	}
}



//end product-slider

//advantages start
.advantages{
	background-color: $bg;
	padding: 110px 0;
	&__title{
		color: #fff;
		text-align: center;
		margin-bottom: 90px;
		@include f700;
		font-size: 36px;
		line-height: 60px;
	}
	&__inner{
		display: flex;
		justify-content: space-between;

	}
	&__item{
		max-width: 370px;
		text-align: center;
		padding: 0px 15px;
		&:hover{
			.advantages__item-images{
				background-color: $green;
				fill: #fff;
			}
			.advantages__item-title{
				color: $green;
			}
		}
		&-images{
			height: 120px;
			width: 120px;
			background-color: #fff;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			margin-bottom: 30px;
			transition: all .3s;
		}
		&-title{
			margin-bottom: 25px;
			color: #fff;
			font-size: 24px;
			line-height: 60px;
			@include f500;
			transition: all .3s;
		}
		&-text{
			color: $higrey;
			font-weight: 400;
			font-size: 15px;
			line-height: 24px;
		}
		
	}
}

//advantages end

